# binaries
build
dist
wheelhouse
public

# caches
.coverage
docs/autodoc
.mypy_cache
.pytest_cache
.ipynb_checkpoints/
**/__pycache__
**/venv
**/.venv
**/.idea
**/.pytest_cache

# tool artifacts
pip-wheel-metadata
*.py[cod]
*.egg-info
requirements.txt
.python-version
site
*.iml

# user config
user.toml
